{% extends "base.html" %}

{% block title %}{% blocktrans with object.pk as build_id %}Build #{{ build_id }} of {{ project }}{% endblocktrans %}{% endblock %}

{% block content %}
	<section class="build_summary">{% url "project" project.slug as project_url %}
		<h1>{% blocktrans with object.pk as build_id %}Build #{{ build_id }} of <a href="{{ project_url }}">{{ project }}</a>{% endblocktrans %}</h1>
		<p class="meta">{{ object.creation_date }} - {{ object.short_rev }}</p>
		<h6>{% trans "Build instructions" %}</h6>
		<pre>{{ object.build_instructions }}</pre>

		<h6>{% trans "Build axes" %}</h6>
		<ul>{% for key, values in object.matrix_data.items %}
				<li><strong>{{ key }}</strong>: {% for value in values %}{{ value }}{% if not forloop.last %}, {% endif %}{% endfor %}</li>
		{% endfor %}</ul>
	</section>

	<section class="build_status">
		<h2>
			<div class="title">{% trans "Build status:" %} {{ object.build_status }}</div>
			<div class="all"><a href="{% url "project_builds" project.slug %}">{% trans "all builds" %}</a></div>
		</h2>

		<ul>
			{% for build in object.builds.all %}
				<li>
					<div class="name"><a href="{% url "build" build.pk %}">#{{ build.pk }}</a>
						<span>{% for key, val in build.values_data.items %}<strong>{{ key}}:</strong> {{ val }}{% if not forloop.last %}, {% endif %}{% endfor %}</span>
					</div>
					<div class="status {{ build.status }}"><span>{{ build.status }}</span></div>
				</li>
			{% endfor %}
		</ul>
		{% if object.build_status == "failure" or object.build_status = "success" %}
			<p class="delete"><a href="{% url "delete_build" object.project.slug object.pk %}">{% trans "Delete build" %}</a></p>
		{% endif %}
	</section>
{% endblock %}
