{% extends "base.html" %}

{% block title %}{{ object }}{% endblock %}

{% block content %}
	<section class="build_summary">
		<h1>{{ object }}{% if object.build_status != "running" %}
			<form method="post" action="{% url "project_trigger_build" object.slug %}">
				{% csrf_token %}
				<input type="submit" value="{% trans "Build now" %}">
			</form>
		{% endif %}</h1>

	<h6>{% blocktrans with object.get_repo_type_display as repo_type %}{{ repo_type }} repository{% endblocktrans %}</h6>
		<p>{{ object.repo|urlize }}</p>

		<h6>{% trans "Build instructions" %} (<a href="{% url "project_admin" object.slug %}">{% trans "Change" %}</a>)</h6>
		<pre>{{ object.build_instructions }}</pre>

		<h6>{% trans "Build axes" %}</h6>
		<ul>{% for config in object.configurations.all %}
				<li><strong>{{ config }}</strong>: {% for val in config.values.all %}{{ val }}{% if not forloop.last %}, {% endif %}{% endfor %}</li>
		{% endfor %}</ul>

		<h6>{% trans "Build URL" %}</h6>
		<p>{% trans "To build this project automatically on pushes, create a hook issuing a POST request to this URL:" %} <pre>http://{{ site.domain }}{% url "project_trigger_build" object.slug %}</pre>
	</section>

	<section class="build_status">
		<h2>
			<div class="title">{% trans "Build status:" %} {{ object.build_status }}</div>
			<div class="all"><a href="{% url "project_builds" object.slug %}">{% trans "all builds" %}</a></div>
		</h2>

		<ul>
			{% for build in last_build.jobs.all %}
				<li>
					<div class="name"><a href="{% url "project_job" object.slug last_build.pk build.pk %}">#{{ build.pk }}</a>
						<span>{% for key, val in build.values_data.items %}<strong>{{ key}}:</strong> {{ val }}{% if not forloop.last %}, {% endif %}{% endfor %}</span>
					</div>
					<div class="status {{ build.status }}"><span>{{ build.status }}</span></div>
				</li>
			{% endfor %}
		</ul>

		{% if last_build %}
			{% if object.build_status == "failed" or object.build_status = "success" %}
				<p class="delete"><a href="{% url "delete_build" object.slug last_build.pk %}">{% trans "Delete build" %}</a></p>
			{% endif %}
		{% endif %}
	</section>
{% endblock %}
