#wrapper, footer p {
	@include grid(12);
}

header {
	@include clearfix;

	h1 {
		@include columns(8);
		@include alpha;
	}

	#messages {
		@include columns(4);
		@include omega;
	}
}

#content {
	@include clearfix;
	margin-bottom: 1em;
}

.builds {
	h1, li {
		@include clearfix;
	}

	.name {
		@include columns(6);
		@include alpha;
	}

	.lastbuild, .status {
		@include columns(3);
	}

	.status {
		@include omega;
	}
}

.build_status {
	li {
		@include clearfix;
	}

	.name {
		@include columns(4);
		@include alpha;
	}

	.status {
		@include columns(2);
		@include omega;
	}
}

form {
	.field, .submit {
		@include clearfix;
	}

	.title {
		@include columns(3);
		@include alpha;
	}

	.input {
		@include columns(5);
		@include omega;
	}
	input {
		&[type="text"], &[type="email"], &[type="url"] {
			width: 370px;
		}
	}
	textarea {
		width: 370px;
	}

	.submit {
		@include prefix(3);
	}
}

.build_summary {
	@include columns(6);
	@include alpha;
}

.build_status {
	@include columns(6);
	@include omega;
	margin-top: 2px;
}
